
# K-Nearest Neighbors (K-NN)

steps
Importing the libraries

Importing the dataset

Splitting the dataset into the Training set and Test set

Feature Scaling

Training the K-NN model on the Training set

Predicting a new result

Predicting the Test set results


Making the Confusion Matrix

In [1]:

## Importing the libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

In [3]:
# Importing the dataset 
dataset = pd.read_csv('breast_cancer.csv')
dataset.head()

   Sample code number  Clump Thickness  ...  Mitoses  Class
0             1000025                5  ...        1      2
1             1002945                5  ...        1      2
2             1015425                3  ...        1      2
3             1016277                6  ...        1      2
4             1017023                4  ...        1      2

[5 rows x 11 columns]

In [4]:
dataset.shape # the data has been corrected for missing values

(683, 11)

In [5]:
dataset = dataset.drop(['Sample code number'],axis=1)

In [6]:
X = dataset.iloc[:, 1:-1].values
y = dataset.iloc[:, -1].values

In [7]:
## Splitting the dataset into the Training set and Test set

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [8]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
print(X_train)

In [ ]:
print(X_test)

In [13]:
# Training the K-NN model on the Training set
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'euclidean')
classifier.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='euclidean',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [14]:
## Predicting the Test set results
y_pred = classifier.predict(X_test)

In [15]:
print(y_pred)

[2 2 4 4 2 2 2 4 2 2 4 2 4 2 2 4 4 4 4 2 2 2 4 2 4 4 2 2 2 4 2 4 4 2 2 2 4
 4 2 4 2 2 2 2 2 2 2 4 2 2 4 2 4 2 2 2 4 4 2 4 2 2 2 2 2 2 2 2 4 4 2 2 2 2
 2 2 4 2 2 2 4 2 4 2 2 4 2 4 4 2 4 2 4 4 4 4 4 4 4 2 2 2 4 4 2 2 4 2 2 2 4
 2 2 4 2 4 2 4 2 2 2 4 2 2 4 4 2 4 2 4 2 2 4 2 2 4 2]

In [ ]:
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

In [17]:
## Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test,y_pred))

[[82  5]
 [ 1 49]]

In [18]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))

0.9562043795620438

In [19]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           2       0.99      0.94      0.96        87
           4       0.91      0.98      0.94        50

    accuracy                           0.96       137
   macro avg       0.95      0.96      0.95       137
weighted avg       0.96      0.96      0.96       137

In [35]:
## Computing the accuracy with k-Fold Cross Validation"""

from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = classifier, X = X_train, y = y_train, cv = 10)

In [36]:
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))

Accuracy: 96.34 %

In [37]:
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

Standard Deviation: 2.17 %